body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

button {
    height: 10vh;
}

p {
    font-size: 36px;
}

#roll-btn-emoji {
  font-size: 300%;
}

#roll-btn {
  padding: 10px;
  display: grid;
  height: 100%;
}

.spinning {
  animation: dice-spin 1.5s ease-in-out 0s;
}



@keyframes dice-spin {
  0% {
    transform: none;
  }
  100% {
    transform: rotateZ(1080deg);
  }
}
