@font-face {
  font-family: rubik;
  src: url(Rubik-VariableFont_wght.ttf);
}

body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: rubik, sans-serif;
  background-color: #f2f2f2;
}

#container {
  display: flex;
  align-self: center;
  width: 70vw;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

button {
  height: 10vh;
}

p {
  font-size: 36px;
}

#roll-btn-emoji {
  font-size: 300%;
}

#roll-btn-content {
  font-weight: bold;
  color: #1e1e1e;
}

#roll-btn {
  padding: 10px;
  display: grid;
  height: 100px;
  width: 300px;
  background-color: #ffcada;
  border-radius: 10px;
  border: solid #1e1e1e 5px;
}

.spinning {
  animation: dice-spin 1.5s ease-in-out 0s;
}

.rainbowing {
  animation: rainbow 1.5s ease-in-out 0s;
}

@keyframes dice-spin {
  0% {
    transform: none;
  }
  100% {
    transform: rotateZ(1080deg);
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.ck-wrap {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
}

#ck {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #f2f2f2;
  }

  #roll-btn {
    background-color: #53202f;
    border: solid #f2f2f2 5px;
  }

  #roll-btn-content {
    color: #f2f2f2;
  }
}
